<div class="auth-container">
    <div class="form-container">
      <h2>Emprunter une Ressource</h2>
      <form>
        <!-- Nom de l'emprunteur -->
        <div class="input-group">
          <label for="nomEmprunteur">Nom de l'Emprunteur</label>
          <input type="text" id="nomEmprunteur" name="nomEmprunteur" required />
        </div>
  
        <!-- Ressource à emprunter -->
        <div class="input-group">
          <label for="ressourceEmprunt">Ressource</label>
          <input type="text" id="ressourceEmprunt" name="ressourceEmprunt" required />
        </div>
  
        <!-- Date d'emprunt -->
        <div class="input-group">
          <label for="dateEmprunt">Date d'Emprunt</label>
          <input type="date" id="dateEmprunt" name="dateEmprunt" required />
        </div>
  
        <!-- Date de retour -->
        <div class="input-group">
          <label for="dateRetour">Date de Retour</label>
          <input type="date" id="dateRetour" name="dateRetour" required />
        </div>
  
        <div class="button-container">
          <button type="submit">Emprunter</button>
        </div>
      </form>
    </div>
  </div>
  