/* Style général pour Ressource et Emprunt */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a82fb, #fc5c7d); /* Couleur de fond de transition */
    animation: gradientBackground 15s ease-in-out infinite;
  }
  
  .form-container {
    max-width: 420px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.5s ease;
  }
  
  .form-container:hover {
    transform: scale(1.02);
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s ease-in-out;
  }
  
  .input-group textarea {
    height: 100px;
    resize: none;
  }
  
  .input-group input:focus,
  .input-group textarea:focus {
    border: 1px solid #6a82fb;
    outline: none;
  }
  
  .button-container {
    text-align: center;
  }
  
  button {
    padding: 12px 25px;
    background-color: #6a82fb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #4f66e1;
  }
  
  @keyframes gradientBackground {
    0% {
      background: linear-gradient(135deg, #6a82fb, #fc5c7d);
    }
    50% {
      background: linear-gradient(135deg, #fc5c7d, #6a82fb);
    }
    100% {
      background: linear-gradient(135deg, #6a82fb, #fc5c7d);
    }
  }
  